body {
    margin: 0;
    height: 100vh;
    
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4px;
    margin: 20px;
}

.img-container>* {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.canvas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* display: none; */
}


button img{
    width: 20px;
}